<!--
  Generated template for the PedidosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>App Mobile Pedidos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-title text-center>Bienvenido!</ion-title>

  <div *ngIf="pedidosEnMemoria">
    <ion-label>Actualmente hay x pedidos para ser enviados.</ion-label>

    <ion-card>
      <ion-card-header>
        Pedidos
      </ion-card-header>
      
    </ion-card>
  </div>

  <div *ngIf="!pedidosEnMemoria">
    <ion-label text-center>Actualmente no hay pedidos cargados 
      <br>
      para ser enviados.</ion-label>
  </div>  

</ion-content>